html {
			font-size: 100%;
		}

		body {
			text-align: center;
			line-height: 1.4;
			font-family: Arial, sans-serif;
			color: #bbb;
			background: #252527;
		}

		h1 {
			margin: 0;
			font-size: 10rem;
			font-weight: 900;
		}

		h1 span {
			position: relative;
			display: inline-block;
			vertical-align: top;
			font-size: 9rem;
			font-weight: 700;
			color: #777;
		}

		h1 span::before,
		h1 span::after {
			content: '';
			position: absolute;
			top: 1.5rem;
			width: 14px;
			height: 150px;
			background: #e20000;
		}

		h1 span::before {
			transform: translateX(5rem) rotate(-45deg);
		}

		h1 span::after {
			transform: translateX(-5rem) rotate(45deg);
		}

		h2 {
			font-size: 3rem;
			color: #fff;
		}

		p {
			font-size: 2rem;
		}

		a,
		a:visited {
			text-decoration: none;
			color: #00a9ff;
		}

		a:hover,
		a:focus {
			color: #777;
		}

		footer {
			padding: 1% 0;
		}

		footer span {
			font-size: 1.5rem;
			color: #777;
		}

		footer div {
			padding-bottom: 4rem;
		}

		@media (max-width: 800px) {
			html {
				font-size: 70%;
			}

			h1 span::before,
			h1 span::after {
				width: 10px;
				height: 110px;
			}

			h2 {
				margin-top: 0;
			}
		}
